<div class="container-fluid">
  <div class="row">
    <app-header
      [user]="(user$ | async) || null!"
      (logout)="onLogout()"
    ></app-header>
  </div>
  <div class="row">
    <app-nav
      *ngIf="(user$ | async)?.authenticated"
      [user]="(user$ | async) || null!"
    ></app-nav>
  </div>
  <div
    class="
      wrapper
      row
      w-50
      shadow
      mx-auto
      mt-5
      border border-primary
      rounded-1
      p-4
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>
