.title-bold--small {
  font-weight: 600;
  font-size: 1.1rem;
}
.divider {
  border-top: 1px solid rgba(13, 110, 253, 0.1);
}
.trash-wrapper {
  margin-left: auto;
}
.input-group-text {
  font-weight: 600;
}