<div class="nav-wrapper">
  <ul class="nav border-top border-primary justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-uppercase btn btn-outline-primary btn-sm m-2 shadow-none border-0" routerLink="/schedule" routerLinkActive="active"
        >Schedule</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase btn btn-outline-primary btn-sm m-2 shadow-none border-0" routerLink="/workouts" routerLinkActive="active"
        >Workouts</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase btn btn-outline-primary btn-sm m-2 shadow-none border-0" routerLink="/meals" routerLinkActive="active"
        >Meals</a
      >
    </li>
  </ul>
</div>
